body {
}

h2 {
    padding-left : 25px;
    font-weight : bold;
    font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.form-horizontal{
    height : 450px;
    margin-top : 50px;
}


#RegisterFormLayout #RegisterationForm input[type ="text"],
#RegisterFormLayout #RegisterationForm .input-group-addon {
    background : none;
    border : none;
    box-shadow : none;
    outline : none;
    border-bottom : 1px solid #ddd;
}
#RegisterFormLayout #RegistrationImage {
    border-left : 1px solid #ddd;
}
#RegisterFormLayout {
    background-color : #fff;
    padding : 40px 20px;
    margin-top : 20px;
}
#RegisterFormLayout #RegisterationForm input[type ="submit"]
{
    background-color : #273c75 ;
    border-radius : 50px;
    
    height : 40px;
    width : 100px;
}